<nav class="w-full flex justify-between items-center py-3 px-4 fixed x-50" xmlns="http://www.w3.org/1999/html">
    <div class="w-6/12">
        <a  href="#">
            <img class="w-5/12" src="">
        </a>
    </div>

    <div class="w-6/12">

        <div class="mr-2">
            <form>
                <input type="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar....">
            </form>
        </div>

        <div class="mr-2">

        </div>

        <div class="mr-2">

        </div>

    </div>
</nav>